@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <button class="btn btn-primary" onclick="window.location.href='Events'">Register</button>
    <button class="btn btn-primary" onclick="window.location.href='Events'">LogIN</button>

</div>
